<div class="container">
    <h2 class="float-left">Meetup Groups</h2>
    <a [routerLink]="['/meetupgroupform']" class="btn btn-primary float-right">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
    </a>
</div>
<div class="table-responsive">
<table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>GroupId</th>
        <th>Name</th>
        <th>UrlName</th>
        <th>Color</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meetupGroup of meetupGroups">
        <th scope="row">{{meetupGroup.id}}</th>
        <td>{{meetupGroup.groupId}}</td>
        <td>{{meetupGroup.name}}</td>
        <td>{{meetupGroup.urlName}}</td>
        <td>{{meetupGroup.color}}</td>
        <td>
            <div class="float-right">
                <a routerLink="/meetupgroupform/{{meetupGroup.id}}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>