@{
    ViewData["Title"] = "Home Page";
}

<section id="banner">
    <div class="banner-item bg-overlay" style="background-image:url(images/hero-area/bg-main.jpg)">
        <div class="container">
            <div class="banner-content text-center">
                <div class="banner-content-wrap">
                    <div class="countdown bg-style">
                        <div class="counter-day">
                            <span class="days">00</span>
                            <div class="smalltext">Days</div>
                        </div>
                        <div class="counter-hour">
                            <span class="hours">00</span>
                            <div class="smalltext">Hours</div>
                        </div>
                        <div class="counter-minute">
                            <span class="minutes">00</span>
                            <div class="smalltext">Minutes</div>
                        </div>
                        <div class="counter-second">
                            <span class="seconds">00</span>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                    <h1 class="banner-title">DESIGN &amp; DEV CONFERENCE Khulna</h1>
                    <br />
                    <p class="banner-title">NET-BAIRES</p>
                    <h2 class="banner-subtitle">
                        MARCH, 17
                        <sup>th</sup> - 19
                        <sup>th</sup>, 2018
                    </h2>
                    <h3 class="banner-desc">Jurys Inn Brighton Waterfront Hotel, Brighton, London</h3>
                    <p class="banner-btn">
                        <a href="#" class="btn btn-primary">Register Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ts-intro" class="ts-intro no-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="gap-60"></div>
                <h2 class="intro-title">¿Quiénes Somos?</h2>
                <h3 class="intro-sub-title">.Net de la ciudad de Buenos Aires</h3>
                <p class="intro-desc">
                    Somos una comunidad de desarrolladores .Net de la ciudad de Buenos Aires.


                </p>
                <!-- <blockquote>Throw myself down teems with vapour around me, and the meridian sun strikes the upper
                      surface of the impenetrable foliage of my trees.</blockquote> -->
                <p>
                    La intención es generar un espacio donde compartir conocimiento, anécdotas y todo tipo
                    de experiencias que puedan generar interés en cualquiera de nosotros. Están todos
                    invitados a proponer charlas, workshop o cualquier actividad.
                </p>
                <!-- <p>
                      <a href="#" class="btn btn-primary">Know More</a>
                </p> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="intro-video">
                    <img class="img-responsive" src="images/intro-video.jpg" alt="" />
                    <a class="popup" href="https://www.youtube.com/watch?v=38818Yb9DVQ?autoplay=1&amp;loop=1">
                        <div class="video-icon">
                            <i class="fa fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="gap-30"></div>
        <div class="row facts-wrapper">
            <div class="col-sm-4 col-xs-6">
                <div class="ts-facts">
                    <span class="ts-facts-img">
                        <img src="images/icons/fact-workshop.png" alt="" />
                    </span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num">
                            <span class="counterUp">47</span>
                        </h2>
                        <h3 class="ts-facts-title">Eventos</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="ts-facts">
                    <span class="ts-facts-img">
                        <img src="images/icons/fact-speaker.png" alt="" />
                    </span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num">
                            <span class="counterUp">139</span>
                        </h2>
                        <h3 class="ts-facts-title">Speakers</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="ts-facts">
                    <span class="ts-facts-img">
                        <img src="images/icons/fact-sponsor.png" alt="" />
                    </span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num">
                            <span class="counterUp">37</span>
                        </h2>
                        <h3 class="ts-facts-title">Sponsors</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ts-speakers" class="ts-speakers gradient-bg">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-title"></h2>
            <h3 class="section-sub-title title-white">Nuestro Equipo</h3>
        </div>
        <ul style="list-style: none; text-align: center;">
            <li style="display: inline-block; ">
                <div class="ts-speaker">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/german.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Germán Küber</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Architect, CloudX</p>
                    </div>
                </div>
            </li>
            <li style="display: inline-block; ">
                <div class="ts-speaker">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/nico.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Nicolás Bello</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Architect, SOUTHWORKS</p>
                    </div>
                </div>
            </li>
            <li style="display: inline-block; ">
                <div class="ts-speaker transparent">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/barcho.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Gabriel Barzola</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Architect, SOUTHWORKS</p>
                    </div>
                </div>
            </li>
            <li style="display: inline-block; ">
                <div class="ts-speaker transparent">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/gabi.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Gabriela Soto</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Developer, ECONAT S.A.</p>
                    </div>
                </div>
            </li>
            <li style="display: inline-block; ">
                <div class="ts-speaker transparent">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/jopo.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Jorge Bramajo</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Consultant, APG Consulting</p>
                    </div>
                </div>
            </li>
            <li style="display: inline-block; ">
                <div class="ts-speaker transparent">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/seba.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Sebastián Pérez</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Developer, RSK Labs</p>
                    </div>
                </div>
            </li>
            <li style="display: inline-block; ">
                <div class="ts-speaker transparent">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/staff/teban.jpg" alt="" />
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name">
                            <a href="#">Esteban Yañez</a>
                        </h3>
                        <p class="ts-speaker-designation">Software Developer, SOUTHWORKS</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section id="ts-newsletter" class="ts-newsletter">
    <div class="container">
        <div class="row">
            <div class="newsletter-form clearfix">
                <div class="col-md-4 col-xs-12">
                    <h2>Se el primero en enterarte de nuestros updates</h2>
                    <h3>Subscribite al Newsletter</h3>
                </div>
                <div class="col-md-8 col-xs-12">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Your Email Here"
                                   autocomplete="off">
                            <button class="btn btn-primary">Subscribite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ts-sponsors" class="ts-sponsors">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-title">Apoyan a la comunidad</h2>
            <p class="section-sub-title">Sponsors</p>
        </div>
        <ul class="sponsor-padding text-center">
            <li class="sponsor-logo-list">
                <a href="http://www.baufest.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/baufest.png" alt="" />
                </a>
                <a href="https://www.belatrixsf.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/belatrix.png" alt="" />
                </a>
                <a href="https://www.jetbrains.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/jetbrains.png" alt="" />
                </a>
                <a href="http://www.kinetica-solutions.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/kinetica.jpeg" alt="" />
                </a>
                <a href="https://www.lagash.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/lagash.png" alt="" />
                </a>
                <a href="http://www.mug-it.org.ar/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/mug.jpeg" alt="" />
                </a>
                <a href="https://www.southworks.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/southworks.jpeg" alt="" />
                </a>
                <a href="https://www.stickermule.com/" class="sponsor-logo-list-item">
                    <img class="img-responsive" src="images/sponsors/sticker-mule.png" alt="" />
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="general-btn text-center">
                <a class="btn btn-primary" href="#">¡Convertite en un sponsor!</a>
            </div>
        </div>
    </div>
</section>

<section class="venu-map no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bottom-contact">
                    <h3>Contactanos</h3>
                    <form id="contact-form" class="contact-form-bottom" action="contact-form.php" method="post">
                        <div class="error-container"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control form-control-name" placeholder="Name" name="name" id="name" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control form-control-email" placeholder="Email" name="email" id="email" type="email" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control form-control-subject" placeholder="Subject" name="subject" id="subject" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-message" name="message" id="message" placeholder="Message" rows="8" required></textarea>
                        </div>
                        <div class="text-right">
                            <br>
                            <button class="btn btn-primary btn-full" type="submit">
                                <i class="fa fa-paper-plane-o"></i> Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>