
@{
    ViewData["Title"] = "Speakers";
}

<div id="page-banner-area" class="page-banner-area" style="background-image:url(images/banner/banner4.jpg)">
    <!-- Subpage title start -->
    <div class="page-banner-title">
        <div class="text-center">
            <h2>Speakers</h2>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Page Banner end -->

<section id="main-container" class="main-container">
    <div class="container">

        <div class="row text-center">
            <h2 class="section-title">Quienes nos acompañan en cada charla</h2>
            <h3 class="section-sub-title">Speakers</h3>
        </div><!--/ Title row end -->

        <ul class="text-center">
            <li class="col-xs-12 col-sm-6 col-md-3">
                <div class="ts-speaker">
                    <div class="ts-speaker-image">
                        <img class="img-responsive" src="images/speakers/speaker1.jpg" alt="" />
                        <ul class="social-links">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="ts-speaker-info">
                        <h3 class="ts-speaker-name"><a href="#">Albert Brown</a></h3>
                        <p class="ts-speaker-designation">CEO, HughWoods</p>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</section>