<div class="container">
    <h2 class="float-left">Members</h2>
    <a [routerLink]="['/memberform']" class="btn btn-primary float-right">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
    </a>
</div>
<div class="table-responsive">
<table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <th scope="row">{{member.id}}</th>
        <td>{{member.name}}</td>
        <td>
            <div class="float-right">
                <a routerLink="/memberform/{{member.id}}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>