<h2>Detail Members</h2>

<form *ngIf="member">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" value="{{member.name}}" disabled>
    </div>
    <div class="form-group">
        <label for="twitter">Twitter</label>
        <input type="text" class="form-control" id="twitter" placeholder="Enter twitter url" value="{{member.twitter}}" disabled>
    </div>
    <div class="form-group">
        <label for="linkedIn">LinkedIn</label>
        <input type="text" class="form-control" id="linkedIn" placeholder="Enter linkedIn URL" value="{{member.linkedIn}}" disabled>
    </div>
    <div class="form-group">
        <label for="photoURL">Photo</label>
        <input type="text" class="form-control" id="photoURL" placeholder="Enter photo URL" value="{{member.photoURL}}" disabled>
        <img src="{{member.photoURL}}" style="max-height:100px; padding:10px;"/>
    </div>
</form>

<button type="button" (click)="goBack()" class="btn btn-primary">Back</button>