<div class="container-flux">
    <img class="img-fluid" src="/assets/img/banner.jpg" alt="Nosotros">
</div>
<div class="container" style="padding: 10px; text-align: center;">
    <a target="_blank" class="btn btn-outline-primary btn-lg" href="{{meetup}}" style="padding: 10px; text-align: center;">
        <i class="fa fa-meetup" aria-hidden="true"></i> MEETUP
    </a>
    <a target="_blank" class="btn btn-outline-primary btn-lg" href="{{slack}}" style="padding: 10px; text-align: center;">
        <i class="fa fa-slack" aria-hidden="true"></i> SUMATE AL SLACK
    </a>
</div>
<div class="container">
    <nb-nosotros></nb-nosotros>
    <nb-sponsor></nb-sponsor>
</div>