<h2>Detail Sponsor</h2>

<form *ngIf="sponsor">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" value="{{sponsor.name}}" disabled>
        </div>
        <div class="form-group">
            <label for="photoURL">Photo</label>
            <input type="text" class="form-control" id="photoURL" value="{{sponsor.photoURL}}" disabled>
        </div>
        <div class="form-group">
            <label for="linkedIn">URL</label>
            <input type="text" class="form-control" id="linkedIn" value="{{sponsor.url}}" disabled>
        </div>
    </form>

<button type="button" (click)="goBack()" class="btn btn-primary">Back</button>